<center>
  <a data-choice="wifi" class="btn btn-success" href="#configure-wifi">WiFi</a>
  <a data-choice="ethernet" class="btn btn-success" href="#recipe"> Ethernet (easiest)</a>
  <a data-choice="ethernetStatic" class="btn btn-success" href="#configure-ethernet-static"> Ethernet Static </a>
</center>
