
<h3>
  Below you will find directions for building your own kit. If you would like us to send you a kit, reach out to R.J. at rj@rjsteinert.com. 
</h3>
<iframe width="100%" height="700" src="https://opk.hackpad.com/How-to-build-an-Open-Pipe-Kit-howto-2OB5VTh3pkZ"></iframe>
<script src="https://opk.hackpad.com/2OB5VTh3pkZ.js?format=html"></script><noscript><div>View <a href="https://opk.hackpad.com/2OB5VTh3pkZ">How to build an Open Pipe Kit #howto</a> on Hackpad.</div></noscript>

