
<div class="home-table">
  <div class="row">
    <div class="col col-sm-12">

      <div class="mdl-card mdl-shadow--2dp">
        <iframe style="height: 400px;" width="420" height="715" src="https://www.youtube.com/embed/OdhUiCxeums" frameborder="0" allowfullscreen></iframe>
        <div class="mdl-card__supporting-text">
            A Pipe is a device that directs the flow of data from a sensor to the place of the Pipe owner's choosing. With Open Pipe Kit it's easy to build Pipes, even for folks who don't program. That means a Pipe will be in the places where you can't always be and you'll always know what is going on.
            <br><br> The creators of Open Pipe Kit focus on bringing freedom, privacy, and accessibility to the Internet of Things. In other words, <strong>we make the Internet of Things boring like hammers and nails</strong>.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#guide" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Check out the Guide
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6">

      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background-image: url('images/examples.png')">
          <h2 class="mdl-card__title-text">Examples</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Check out the example videos we've been making to get the ideas flowing. If you make a Pipe, we'd love if you added your own as an example.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#examples" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Watch example videos
          </a>
        </div>
      </div>

    </div>
    <div class="col col-sm-6">

      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background-image: url('images/opk-steps-1.png')">
          <h2 class="mdl-card__title-text">Configurator</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Use the Open Pipe Kit Configurator to configure your Pipe. With a click of a couple buttons you'll be piping data.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#configurator" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Configure your Pipe
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col col-sm-12">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background-image: url('images/code.png')">
          <h2 class="mdl-card__title-text">Code</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Open Pipe Kit is easy to integrate with any sensor or database you want. Best yet, you can program in any language you want.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#hackpad" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Check out the OPK Hackpad
          </a>
          or <a href="#chat" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">drop into the chatroom</a>
        </div>
      </div>
    </div>
  </div>

</div>
