<div class="jumbotron">
  <h1>Let's bake a pipe for you.</h1>
  <p>This app will ask a couple of questions leading you through the process of creating a pipe on a USB Drive. This software is just a prototype so if you hit any glitches, do <a href="https://groups.google.com/forum/#!forum/open-pipe-kit" alt="contact us about glitches">let us know</a>.</p>
  <p><a class="btn btn-primary btn-lg" href="#which-sensor" role="button">Begin</a></p>
</div>
