<td>
	<% if (thumbnail !== "") { %>
		<img src='<%= thumbnail %>'>
	<% } %>
<td>
	<%= title %>
</td>
<td>
	<%= field_package_description %>
</td>
<td>
	<button class='btn btn-success'>Select</button>
</td>
