<h1>You rock! Ready to plug it in?</h1>
<p>
  Now that you have your Pipe configured, it's time to plug it all in and start collecting data. We're building functionality to help you out with this. Cool stuff like blinking lights on your pipe and things like that. We're also working on a guide, but you know what? We need your help building this guide. Contact R.J. (rj@rjsteinert.com) to be a member of our beta tester program and we'll have your back. Hope to see you soon!
</p>
