$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import url('http://fonts.googleapis.com/css?family=Lato');

* {
/*  font-family: Lato;*/
}

body {
  background-color: #e6eae7 !important;
}

iframe {
  width: 100%;
  height: 100%;
}

nav.navbar {
  margin-bottom: 0px;
  a {
    color: #FFF !important;
  }
  li.dropdown li a {
    color: #000 !important;
  }
}

h1 {
  text-align: center;
}

.mdl-card {
  width: 100% !important;

  .mdl-card__title {
    background: url('/images/plug-it-in-small.png') center / cover;
    color: #fff;
    height: 176px;
    -webkit-box-shadow: inset 0px -166px 151px -108px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -166px 151px -108px rgba(0,0,0,0.75);
    box-shadow: inset 0px -166px 151px -108px rgba(0,0,0,0.75);
  }
  .mdl-card__actions {
    text-align: center;
  }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.home-table {
  margin: 25px auto 0px;
  width: 750px;
  .col {
    margin-bottom: 25px;
  }
}

.configurator-container {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .main {
    margin: 0 5px;
  }
  .home-table {
    margin: 0 auto;
    width: 100%;
  }
}

.plug-it-in {
  background-position: right top 100px;
  background-repeat: no-repeat;
  min-height: 900px;
}

.center-contents {
  text-align: center;
}

body.dark .home-header {
  color: #888 !important;
  font-size: 2.3em;
}

body.dark h1.home-header {
  margin-top: 70px;
}

body.dark h2.home-header {
  margin-bottom: 40px;
}
